*{
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'open Sans', Arial;
    background-color: #f3f3f3;
}
:root{
    --primary:#50bcfd;
    --white:#fff;
    --whitesec:#fbfbfb;
    --whitethr: #a2a2a2;
    --black:#000;
    --blacksec:#333;
    --blackthr:#757575;
}
.container{
    width: 900px;
}
section{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: start;
}
ul{
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
h1 {
    font-size: 35px;
    line-height: 35px;
    font-weight: 900;
    color: var(--white);
}
h2 {
    font-size: 20px;
    line-height: 25px;
    font-weight: 400;
    color: var(--white);
}
h3{
    font-size: 16px;
    font-weight: 500;
    position: relative;
    border-bottom: 2px solid #ebebeb;
    padding-bottom: 10px;
    margin-top: 30px;
}
h3::after {
    content: '';
    width: 40px;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: -2px;
    background-color: var(--primary);
}
h4,.skill li{
    font-size: 15px;
}
li {
    font-size: 13px;
    font-weight: 300;
    line-height: normal;
    color: var(--blackthr);
}
p {
    font-size: 13px;
    line-height: 23px;
    font-weight: 300;
    color: var(--blackthr);
    margin-bottom: 0;
}

/*==========Header==========*/

.profile{
    width: 100%;
    height: auto;
    margin: auto;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
}
.nav-tabs{
    justify-content: space-evenly;
    background-color: var(--whitesec);
    border-bottom: none;
    position: relative;
    z-index: 5;
}
.nav-tabs li,a{
    margin-bottom: 0 !important;
}
.nav-link {
    width: 110px;
    padding: 38px 0px 18px 0px;
    margin-top: -15px;
    border: none !important;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: var(--whitethr);
}
.nav-link i {
    font-size: 30px;
    display: block;
}
.nav-link:hover{
    color: var(--whitethr);
}
.nav-link.active {
    color: var(--primary) !important;
    background-color: var(--white) !important;
    box-shadow: 0px -5px 12px -8px var(--blacksec);
    position: relative;
    z-index: 1;
    transition: .2s !important;
}
.nav-link span {
    color: var(--whitethr);
    display: block;
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
}
.tab-content {
    position: relative;
}
.abs-tab {
    position: absolute;
    top: 86px;
    width: 100%;
}
.page{
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.27);
    background-color: var(--white);
    position: relative;
}
.logo {
    position: absolute;
    top: -140px;
    left: 0;
    z-index: 4;
}
.logo h1{
    font-size: 25px;
    line-height: 0px;
    font-weight: bold;
    color: var(--blackthr);
}
.logo h2{
    font-size: 15px;
    line-height: 30px;
    color: var(--blackthr);
}

/*==========Home-Social and footer==========*/

.home-social{
    width: 100%;
    z-index: 4;
    position: relative;
    padding-top: 50px;
    padding-bottom: 30px;
}
.home-social ul{
    display: flex;
    margin: 0;
    width: 105px;
    margin-left: auto;
}
.home-social ul a {
    font-size: 28px;
    margin-left: 10px;
    color: var(--blackthr);
    transition: .3s;
}
.home-social ul a:hover {
    color: var(--primary);
}
footer {
    padding-top: 20px;
    padding-bottom: 50px;
}
footer p{
    color: var(--blacksec);
}

/*==========Home==========*/

#home {
    background-color: var(--primary);
    padding: 50px;
}
#home p,li{
    color: var(--blacksec);
}
.photo img{
    width: 90%;
}
.bio {
    padding-left: 20px;
}
.bio-title {
    display: flex;
}
.bio p {
    margin: 5px 0px;
}
.bio .bio-title-p {
    width: 80px;
}
.shadow-bg{
    background-image: url(personal-info-sep.png) !important;
    background-position: -3px center;
    background-repeat: no-repeat;
}

/*==========Resume==========*/

.Employment-box{
    margin-top: 15px;
    margin-bottom: 25px;
    border-left: 2px solid var(--primary);
    padding-left: 15px;
    padding-right: 10px;
}
.company-name{
    color: var(--blacksec);
}
.Employment-detail{
    display: flex;
    justify-content: space-between;
}
.Employment-detail p {
    color: var(--primary);
}
.skill ul{
    margin-bottom: 0;
}
.skill li {
    margin-top: 10px;
    margin-bottom: 15px;
}
.pass{
    color: #a39c9c !important;
}
.skill span i {
    margin-right: 5px;
    font-size: 13px;
    color: #ddd;
}

/*==========Blog==========*/

.blog-control{
    padding-bottom: 10px;
    margin-top: -39px;
    position: relative;
}
.menu{
    position: relative;
    display: none;
}
.checkbox{
    position: relative;
    transform: scale(1.4);
    display: block;
    margin-left: auto;
    z-index: 4;
    opacity: 0;
}
.blog-control span{
    position: absolute;
    color: var(--primary);
}
.bars{
    font-size: 20px;
    top: -5px;
    right: 1px;
    z-index: 3;
    display: none;
}
.cross{
    font-size: 22px;
    display: none;
    top: -6px;
    right: 2px;
    z-index: 2;
}
.cetegory{
    width: 100%;
    margin-top: 33px;
    padding-left: 15px;
    border-left: 2px solid var(--primary);
}
#blog h3{
    margin-top: 0;
    padding-top: 25px;
    z-index: 2;
    background-color: var(--white);
}
#blog .Employment-box{
    padding-right: 0;
}
#blog ul li{
    margin-top: 7px;
    background-color: var(--whitesec);
}
#blog ul li a{
    display: block;
    padding: 8px 10px;
    font-weight: bold;
    color: var(--blackthr);
}
#blog ul li a:hover{
    background-color: var(--primary);
    color: var(--white);
    transition: .3s;
}
.inner-blog{
    padding-top: 25px;
}
.blog-card{
    text-align: left;
    transition: .4s;
    margin-bottom: 25px;
}
.blog-card img{
    width: 100%;
}
.blog-text{
    position: relative;
    z-index: 1;
    margin: -15px 15px;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 10px 10px 0px 0px;
    background-color: var(--white);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.27);
    overflow: hidden;
    transition: .3s;
}
.blog-text::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fffd;
    opacity: 0;
}
.blog-card:hover .blog-text::after{
    opacity: 1;
    transition: .6s !important;
}
.blog-text h5 {
    font-size: 18px;
    margin-top: 10px;
}
.blog-card:hover h5{
    color: var(--primary);
    transition: .4s;
}
.blog-text a {
    font-size: 13px;
    font-weight: bold;
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 0;
    width: 100px;
    color: var(--blacksec);
    display: block;
    text-align: center;
    z-index: 1;
    text-align: center;
    padding: 8px 0px;
    border-radius: 50px;
    border: 1px solid var(--primary);
    transition: .4s;
}
.blog-text a:hover{
    color: var(--white);
    background-color: var(--primary);
}
.blog-card:hover a{
    opacity: 1;
}
.blog-detail p{
    display: inline-block;
    margin-right: 20px;
}
.blog-detail p i{
    margin-right: 6px;
}

/*==========Contact==========*/

form {
    margin-top: 20px;
}
iframe{
    margin-top: 30px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.27);
}
.contact-list span{
    margin-top: 15px;
    margin-bottom: 7px;
    color: var(--whitethr);
}
form .btn{
    background-color: var(--primary);
    color: var(--white);
    transition: .3s;
}
form .btn:hover{
    background-color: var(--blackthr);
    color: var(--white);
}
form span{
    border: none !important;
    color: var(--white) !important;
    background-color: var(--primary) !important;
}

